# Repository
.vscode/

patches/

# Desktop (packages/desktop)
packages/desktop/out/
packages/desktop/public/
packages/desktop/electron/lib/keychain.js

# Mobile (packages/mobile)
packages/mobile/android/
packages/mobile/ios/
packages/mobile/public/

# Shared (packages/shared)
packages/shared/src/assets/
!packages/shared/src/lib/tests/
packages/shared/src/locales/
!packages/shared/src/locales/en.json

# Common files and folders
**/node_modules/
**/out/
**/tests/

# ESLint configuration and files
**/.eslintrc.js
