# ==============================================================================
# IDEs
# ==============================================================================

# Visual Studio
**/.vs/
**/.vscode/

# JetBrains
**/.idea/
