name: Build (Reusable)

on:
    workflow_call:
        inputs:
            os:
                required: true
                type: string
            stage:
                required: true
                type: string
            version:
                required: false
                type: string
            sign:
                required: false
                type: boolean
                default: false
            upload:
                required: false
                type: boolean
                default: false
jobs:
    build:
        name: Build - ${{ inputs.os }}
        if: ${{ always() }}
        runs-on: ${{ inputs.os }}
        env:
            VERSION: ${{ inputs.version }}
            STAGE: ${{ inputs.stage }}
            NODE_OPTIONS: '--max-old-space-size=12288' # Set the desired heap size here
        steps:
            - uses: actions/checkout@v4

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: 20.10.0

            # Used to read the `binding.gyp` file from `@iota/sdk`
            - name: Set up Python 3.10
              uses: actions/setup-python@v4
              with:
                  python-version: '3.10'

            - name: Install Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal

            - name: Install LLVM and Clang (Windows) # required for bindgen to work, see https://github.com/rust-lang/rust-bindgen/issues/1797
              uses: KyleMayes/install-llvm-action@v1
              if: ${{ inputs.os == 'windows-2022' }}
              with:
                  version: '11.0'
                  directory: ${{ runner.temp }}/llvm

            - name: Set LIBCLANG_PATH (Windows)
              run: echo "LIBCLANG_PATH=$((gcm clang).source -replace "clang.exe")" >> $env:GITHUB_ENV
              if: ${{ inputs.os == 'windows-2022' }}

            - name: Set up certificate (Windows)
              if: ${{ inputs.sign && inputs.os == 'windows-2022' }}
              run: |
                  echo "${{ secrets.SM_CLIENT_CERT_FILE_B64 }}" | base64 --decode > /d/Certificate_pkcs12.p12
              shell: bash

            - name: Set variables for signing (Windows)
              if: ${{ inputs.sign && inputs.os == 'windows-2022' }}
              run: |
                  echo "SM_HOST=${{ secrets.SM_HOST }}" >> "$GITHUB_ENV"
                  echo "SM_API_KEY=${{ secrets.SM_API_KEY }}" >> "$GITHUB_ENV"
                  echo "SM_CLIENT_CERT_FILE=D:\\Certificate_pkcs12.p12" >> "$GITHUB_ENV"
                  echo "SM_CLIENT_CERT_PASSWORD=${{ secrets.SM_CLIENT_CERT_PASSWORD }}" >> "$GITHUB_ENV"
                  echo "C:\Program Files (x86)\Windows Kits\10\App Certification Kit" >> $GITHUB_PATH
                  echo "C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools" >> $GITHUB_PATH
                  echo "C:\Program Files\DigiCert\DigiCert Keylocker Tools" >> $GITHUB_PATH
              shell: bash

            - name: Install DigiCert KeyLocker KSP (Windows)
              if: ${{ inputs.sign && inputs.os == 'windows-2022' }}
              run: |
                  curl -X GET  "https://one.digicert.com/signingmanager/api-ui/v1/releases/Keylockertools-windows-x64.msi/download" -H "x-api-key:${{ secrets.SM_API_KEY }}" -o Keylockertools-windows-x64.msi
                  msiexec /i Keylockertools-windows-x64.msi /quiet /qn
                  smksp_registrar.exe list
                  smctl.exe keypair ls
                  C:\\Windows\\System32\\certutil.exe -csp "DigiCert Signing Manager KSP" -key -user
              shell: cmd

            - name: Sync Certificates with KeyLocker KSP (Windows)
              if: ${{ inputs.sign && inputs.os == 'windows-2022' }}
              run: smctl windows certsync
              shell: cmd

            - name: Set deployment target (MacOS)
              run: echo "MACOSX_DEPLOYMENT_TARGET=10.14" >> $GITHUB_ENV # TODO: set this to 10.12 once rocksDB issue is fixed
              if: ${{ inputs.os == 'macos-12' }}

            - name: Verify ditto accessibility
              run: ditto package.json package.json.copy
              if: ${{ inputs.os == 'macos-12' }}

            - name: Install required packages (Linux)
              run: |
                  sudo apt update
                  sudo apt install -y gcc-multilib g++-multilib build-essential libssl-dev rpm libsecret-1-dev \
                    software-properties-common apt-transport-https libudev-dev libusb-1.0-0-dev \
                    llvm-dev libclang-dev clang
              if: ${{ inputs.os == 'ubuntu-20.04' }}

            - name: Enable verbose output for electron-builder (macOS/Linux)
              run: echo "DEBUG=electron-builder" >> $GITHUB_ENV
              if: ${{ inputs.os != 'windows-2022' }}

            - name: Enable verbose output for electron-builder (Windows)
              run: echo "DEBUG=electron-builder" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
              if: ${{ inputs.os == 'windows-2022' }}

            - name: Set Transak API key
              shell: bash
              run: |
                  if [ "${{ inputs.stage }}" = "prod" ]; then
                    echo "TRANSAK_API_KEY=${{ secrets.TRANSAK_API_KEY_PRODUCTION }}" >> $GITHUB_ENV
                  else
                    echo "TRANSAK_API_KEY=${{ secrets.TRANSAK_API_KEY_STAGING }}" >> $GITHUB_ENV
                  fi

            - name: Set up .npmrc file to use GitHub Packages
              run: |
                  echo "@bloomwalletio:registry=https://npm.pkg.github.com/" >> .npmrc
                  echo "//npm.pkg.github.com/:_authToken=${{ secrets.PACKAGES_PERSONAL_ACCESS_TOKEN }}" >> .npmrc

            - name: Install dependencies
              # Increase network timeout threshold to reduce build failures on Windows
              run: yarn --network-timeout 1000000

            - name: Set productName
              run: node scripts/fix-productName.js
              working-directory: packages/desktop

            - name: Bundle desktop JS
              run: yarn build:${STAGE}
              working-directory: packages/desktop
              shell: bash
              env:
                  HARDCODE_NODE_ENV: true
                  AMPLITUDE_API_KEY: ${{ secrets.AMPLITUDE_API_KEY }}

            - name: Build signed Electron app (MacOS)
              run: yarn compile:${STAGE}:mac
              env:
                  CSC_LINK: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERT_BASE64 }}
                  CSC_KEY_PASSWORD: ${{ secrets.APPLE_DEVELOPER_ID_APPLICATION_CERT_PASSWORD }}
                  BLOOM_APPLE_ID: ${{ secrets.APPLE_ID }} # Requires prefix of BLOOM otherwise electron builder tries to notarize the app using the env variables
                  BLOOM_APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }} # Requires prefix of BLOOM otherwise electron builder tries to notarize the app using the env variables
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  MACOS_SKIP_NOTARIZATION: false
              working-directory: packages/desktop
              if: ${{ inputs.sign && inputs.os == 'macos-12' }}

            - name: Build unsigned Electron app (MacOS)
              run: yarn compile:${STAGE}:mac
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  MACOS_SKIP_NOTARIZATION: true
              working-directory: packages/desktop
              if: ${{ !inputs.sign && inputs.os == 'macos-12' }}

            - name: Build signed Electron app (Windows)
              run: yarn compile:${env:STAGE}:win
              env:
                  CERTIFICATE_FINGERPRINT: ${{ secrets.SM_CODE_SIGNING_CERT_SHA1_HASH }}
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SIGN: true
              working-directory: packages/desktop
              if: ${{ inputs.sign && inputs.os == 'windows-2022' }}

            - name: Build unsigned Electron app (Windows)
              run: yarn compile:${env:STAGE}:win
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SIGN: false
              working-directory: packages/desktop
              if: ${{ !inputs.sign && inputs.os == 'windows-2022' }}

            - name: Build Electron app (Linux)
              run: yarn compile:${STAGE}:linux
              working-directory: packages/desktop
              if: ${{ inputs.os == 'ubuntu-20.04' }}
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Import GPG key (Linux)
              run: |
                  echo "$GPG_PRIVATE_KEY" | base64 -d > /tmp/private.key && \
                  echo "$GPG_PASSPHRASE" | gpg --batch --yes --passphrase-fd 0 --import /tmp/private.key
              env:
                  GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
                  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
              if: ${{ inputs.sign && inputs.os == 'ubuntu-20.04' }}

            - name: Sign AppImage (Linux)
              run: echo "$GPG_PASSPHRASE" | gpg --pinentry-mode loopback --batch --passphrase-fd 0 --armor --detach-sign --local-user 5CB8BB19 bloom-desktop*.AppImage
              working-directory: packages/desktop/out
              env:
                  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
              if: ${{ inputs.sign && inputs.os == 'ubuntu-20.04' }}

            - name: Compute checksums (Linux)
              run: for i in `ls | grep 'bloom-desktop-*'` ; do sha256sum $i | awk {'print $1'} > $i.sha256 ; done
              working-directory: packages/desktop/out
              if: ${{ inputs.os == 'ubuntu-20.04' }}

            - name: Compute checksums (MacOS)
              run: for i in `ls | grep 'bloom-desktop-*'` ; do shasum -a 256 $i | awk {'print $1'} > $i.sha256 ; done
              working-directory: packages/desktop/out
              if: ${{ inputs.os == 'macos-12' }}

            - name: Compute checksums (Windows)
              run: Get-ChildItem "." -Filter bloom-desktop-* | Foreach-Object { $(Get-FileHash -Path $_.FullName -Algorithm SHA256).Hash | Set-Content ($_.FullName + '.sha256') }
              working-directory: packages/desktop/out
              if: ${{ inputs.os == 'windows-2022' }}

            - name: Upload artifacts
              if: ${{ inputs.upload }}
              uses: actions/upload-artifact@v4
              with:
                  name: bloom-desktop-${{ inputs.os }}
                  path: |
                      packages/desktop/out/bloom-desktop*
                      packages/desktop/out/latest*
